# Database Settings
DB_HOST=database
DB_NAME=visitdb
DB_USER=admin
DB_PASSWORD=your_password_here

# Redis Settings
REDIS_HOST=redis

# PostgreSQL Settings
POSTGRES_DB=visitdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
